body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    background-color: #f1f4fa;
    max-width: 400px;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   
    
}
.main{
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 24px;
    margin: 0;
}
.imag {
    width: 50%;
}
.text {
    width: 40%;
}
img {
    max-width: 80%;
   height: 10rem;
    border-radius: 10%;
    margin-top: 10px;
    object-fit: cover;
}

p {
    font-size: 18px;
    margin: 10px 0;
}

a {
    display: block;
    text-decoration: none;
    color: #0077b5;
    margin-top: 20px;
}